{% extends 'base_index.html' %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<h2>{{ tr['new_service'] }}</h2>
<form
  method="POST"
  action="{{ lang_url_for('new_service') }}"
  class="form-container"
>
  {{ form.hidden_tag() }}
  <div class="form-row">
    <label>{{ tr['date'] }}:<span style="color: red">*</span></label>
    {{ form.date(class_="form-field") }}
  </div>
  <div class="form-row">
    <label> {{ tr['serial_number'] }}:<span style="color: red">*</span> </label>
    <input type="hidden" name="lang" value="{{ lang }}" />
    <div class="dropdown">
      <input
        type="text"
        name="serial_number"
        value="{{ form.serial_number.data or '' }}"
        required
        placeholder="{{ tr['placeholder_serial_number'] }}"
        onkeyup="filterFunction(this)"
        onclick="toggleDropdown(this)"
        autocomplete="off"
      />
      <div id="dropdownList" class="dropdown-content">
        {% for machine in machines %}
        <div
          onclick="selectOption(this.parentElement.previousElementSibling, '{{ machine.serial_number }}')"
        >
          {{ machine.serial_number }} - {{ machine.machine_type.name }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="form-row">
    <label>{{ tr['bn_count'] }}:<span style="color: red">*</span></label>
    {{ form.bn_count(class_="form-field") }}
  </div>
  <div class="form-row">
    <label>{{ tr['note'] }}:</label>
    {{ form.note(class_="form-field", rows="5") }}
  </div>
  {{ form.submit(class_="form-button", value=tr['submit']) }}
</form>

{% endblock %}
