{% extends 'base_index.html' %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<h2>{{ tr['add_replaced_part'] }}</h2>
<form
  method="POST"
  action="{{ lang_url_for('add_replaced_part') }}"
  class="form-container"
>
  {{ form.hidden_tag() }}
  <div class="form-row">
    <label for="date">{{ tr['date'] }}:</label>
    {{ form.date(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="part_number">{{ tr['part_number'] }}:</label>
    {{ form.part_number(class_="form-field", list="parts") }}
    <datalist id="parts">
      {% for part in parts %}
      <option value="{{ part.part_number }}">{{ part.name_en if lang == 'en' else part.name_lt }}</option>
      {% endfor %}
    </datalist>
  </div>
  <div class="form-row">
    <label for="quantity">{{ tr['quantity'] }}:</label>
    {{ form.quantity(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="serial_number">{{ tr['serial_number'] }}:</label>
    {{ form.serial_number(class_="form-field", list="machines") }}
    <datalist id="machines">
    {% for machine in machines %}
    <option value="{{ machine.serial_number }}">
      {{ machine.machine_type.name }}
    </option>
    {% endfor %}
  </datalist>
  </div>
  <div class="form-row">
  <label for="location">{{ tr['location'] }}:</label>
  {{ form.location(class_="form-field") }}
</div>
  <div class="form-row full-width">
    {{ form.submit(class_="button", value=tr['submit'], class="form_button") }}
  </div>
</form>

{% endblock %}
