{% extends 'base_index.html' %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<h2>{{ tr['add_replaced_part'] }}</h2>
<form
  method="POST"
  action="{{ lang_url_for('add_replaced_part') }}"
  class="form-container"
>
  {{ form.hidden_tag() }}
  <div class="form-row">
    <label>{{ tr['date'] }}:<span style="color: red">*</span></label>
    {{ form.date(class_="form-field") }}
  </div>
  <div class="form-row">
    <label>{{ tr['part_number'] }}:<span style="color: red">*</span></label>
    <div class="dropdown">
      <input
        type="text"
        name="part_number"
        value="{{ form.part_number.data or '' }}"
        required
        placeholder="{{ tr['placeholder_part_number'] }}"
        onkeyup="filterFunction(this)"
        onclick="toggleDropdown(this)"
        autocomplete="off"
      />
      <div class="dropdown-content">
        {% for part in parts %}
        <div
          onclick="selectOption(this.parentElement.previousElementSibling, '{{ part.part_number }}')"
        >
          {{ part.part_number }} - {{ part.name_en if lang == 'en' else
          part.name_lt }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="form-row">
    <label>{{ tr['quantity'] }}:<span style="color: red">*</span></label>
    {{ form.quantity(class_="form-field") }}
  </div>
  <div class="form-row">
    <label>{{ tr['serial_number'] }}:<span style="color: red">*</span></label>
    <div class="dropdown">
      <input
        type="text"
        name="serial_number"
        value="{{ form.serial_number.data or '' }}"
        required
        placeholder="{{ tr['placeholder_serial_number'] }}"
        onkeyup="filterFunction(this)"
        onclick="toggleDropdown(this)"
        autocomplete="off"
      />
      <div id="dropdownList" class="dropdown-content">
        {% for machine in machines %}
        <div
          onclick="selectOption(this.parentElement.previousElementSibling, '{{ machine.serial_number }}')"
        >
          {{ machine.serial_number }} - {{ machine.machine_type.name }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="form-row">
    <label>{{ tr['location'] }}:</label>
    {{ form.location(class_="form-field") }}
  </div>
  {{ form.submit(class_="form-button", value=tr['submit'])}}
</form>

{% endblock %}
