{% extends 'base_index.html' %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<h2>{{ tr['new_client'] }}</h2>
<form method="POST" action="{{ lang_url_for('new_client') }}" class="form-container">
  {{ form.hidden_tag() }}
  <div class="form-row">
    <label for="company">{{ tr['company'] }}:<span style="color: red">*</span></label>
    {{ form.company(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="address">{{ tr['address'] }}:<span style="color: red">*</span></label>
    {{ form.address(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="city">{{ tr['city'] }}:<span style="color: red">*</span></label>
    {{ form.city(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="contact_person">{{ tr['contact_person'] }}:<span style="color: red">*</span></label>
    {{ form.contact_person(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="phone_number">{{ tr['phone_number'] }}:<span style="color: red">*</span></label>
    {{ form.phone_number(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="email">{{ tr['email'] }}:<span style="color: red">*</span></label>
    {{ form.email(class_="form-field") }}
  </div>

  <div class="form-row full-width">
    {{ form.submit(class_="button", value=tr['submit'], class="form_button") }}
  </div>
</form>
{% endblock %}
