{% extends "base_index.html" %} {% block content %}
<h2>{{ tr['editing_client'] }}</h2>
<form method="POST" class="form-container">
  {{ form.hidden_tag() }}
  <div class="form-row-static">{{ client.company }} - {{ client.city }}</div>
  <div class="form-row">
    <label>{{ tr['address'] }}:</label>
    {{ form.address(class_="form-field") }}
  </div>
  <div class="form-row">
    <label>{{ tr['contact_person'] }}:</label>
    {{ form.contact_person(class_="form-field") }}
  </div>
  <div class="form-row">
    <label>{{ tr['phone_number'] }}:</label>
    {{ form.phone_number(class_="form-field") }}
  </div>
  <div class="form-row">
    <label>{{ tr['email'] }}:</label>
    {{ form.email(class_="form-field") }}
  </div>
  {{ form.submit(class_="form-button", value=tr['update']) }}
</form>
{% endblock %}
