{% extends "base_index.html" %} {% block content %}
<h2>{{ tr['editing_client'] }}</h2>
<form method="POST" class="form-container">
  {{ form.hidden_tag() }}
  <div class="form-row">
    <label for="company">{{ tr['company'] }}:</label>
    <strong>{{ client.company }}</strong>
  </div>
  <div class="form-row">
    <label for="city">{{ tr['city'] }}:</label>
    <strong>{{ client.city }}</strong>
  </div>
  <div class="form-row">
    <label for="address">{{ tr['address'] }}:</label>
    {{ form.address(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="contact_person">{{ tr['contact_person'] }}:</label>
    {{ form.contact_person(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="phone_number">{{ tr['phone_number'] }}:</label>
    {{ form.phone_number(class_="form-field") }}
  </div>
  <div class="form-row">
    <label for="email">{{ tr['email'] }}:</label>
    {{ form.email(class_="form-field") }}
  </div>

  <div class="form-row full-width">
    {{ form.submit(value=tr['update'], class="form_button") }}
  </div>
</form>
{% endblock %}
