{% extends 'base_index.html' %} {% block content %}
<h2>{{ tr['select_actions'] }}</h2>

<div class="dashboard-actions">
  {% if current_user.is_admin %}
  <a href="{{ lang_url_for('new_machine') }}" class="action-button"
    >{{ tr['new_machine'] }}
  </a>
  <a href="{{ lang_url_for('edit_machine_select') }}" class="action-button"
    >{{ tr['edit_machine'] }}
  </a>
  {% endif %}
  <a href="{{ lang_url_for('machine_search') }}" class="action-button"
    >{{ tr['machine_info'] }}</a
  >
  <a href="{{ lang_url_for('machine_list') }}" class="action-button"
    >{{ tr['machines_list'] }}</a
  >
  <a href="{{ lang_url_for('downloads') }}" class="action-button"
    >{{ tr['downloads'] }}</a
  >
</div>
{% endblock %}
