<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <title>{{ selected_type.name }} {{ tr['price_list'] }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/print.css') }}"
    />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </head>
  <body id="print-page">
    <header>
      <h3>{{ selected_type.name }} {{ tr['price_list'] }}</h3>
      <p>{{ today }}</p>
    </header>

    <table>
      <thead>
        <tr>
          <th>{{ tr['part_number'] }}</th>
          <th>{{ tr['name'] }} En</th>
          <th>{{ tr['name'] }} Lt</th>
          <th>{{ tr['price'] }}</th>
        </tr>
      </thead>
      <tbody>
        {% for part in parts %}
        <tr>
          <td>{{ part.part_number }}</td>
          <td>{{ part.name_en }}</td>
          <td>{{ part.name_lt }}</td>
          <td>{{ "%.2f"|format(part.price) }} €</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
