{% extends 'base_index.html' %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<h2>{{ tr['new_task'] }}</h2>
<form method="POST" action="{{ lang_url_for('new_task') }}" class="form-container">
  {{ form.hidden_tag() }}
  <div class="form-row">
    <label for="task">{{ tr['task'] }}:</label>
    {{ form.task(class_="form-field", rows=6) }}
  </div>
  <div class="form-row full-width">
    {{ form.submit(class_="button", value=tr['submit'], class="form_button") }}
  </div>
</form>

{% endblock %}
