{% extends "base_index.html" %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<div class="btn-container">
  <a href="{{ lang_url_for('new_task') }}" class="btn btn-success"
    >{{ tr['new_task'] }}</a
  >
</div>
<h3>{{ tr['task_list'] }}</h3>
<div class="table-container">
  <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>{{ tr['task'] }}</th>
        <th>{{ tr['created_at'] }}</th>
        <th>{{ tr['created_by'] }}</th>
        <th>{{ tr['completed_at'] }}</th>
        <th>{{ tr['actions'] }}</th>
      </tr>
    </thead>
    <tbody>
      {% if tasks %} {% for task in tasks %}
      <tr>
        <td>{{ task.task }}</td>
        <td>{{ task.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
        <td>
          {{ task.created_by_user.name if task.created_by_user else "-" }}
        </td>
        <td>
          {% if task.completed_at %} {{ task.completed_at.strftime("%Y-%m-%d
          %H:%M:%S") }} {% else %} - {% endif %}
        </td>

        <td>
          {% if not task.is_completed %}
          <a
            href="{{ lang_url_for('complete_task', task_id=task.id) }}"
            style="text-decoration: none"
            >✅</a
          >
          {% else %}
          <span style="color: green; font-weight: bold"
            >{{ tr['completed'] }}</span
          ><br />
          <span style="font-size: 0.9em; color: gray"
            >{{ task.completed_by_user.name if task.completed_by_user else "-"
            }}</span
          >
          {% endif %}
        </td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td colspan="6" style="text-align: center">{{ tr['no_tasks'] }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
