{% extends 'base_index.html' %} {% block content %}
<h2>{{ tr['edit_visit'] if edit_mode else tr['new_visit'] }}</h2>
<form method="POST" class="form-container">
  {% if client %}
  <div class="form-row-static">{{ client.company }} - {{ client.city }}</div>
  {% endif %} {{ form.hidden_tag() }} {% if 'client' in form._fields %}
  <div class="form-row">
    <label for="client">{{ tr['client'] }}:</label><br />
    {{ form.client(class_="form-field") }}
  </div>
  {% endif %}

  <div class="form-row">
    <label for="visit_date">{{ tr['visit_date'] }}:</label
    ><span style="color: red">*</span><br />
    {{ form.date(class_="form-field") }}
  </div>

  <div class="form-row">
    <label>{{ tr['visit_purpose'] }}:</label><br />
    {{ form.purpose(class_="form-field", rows=6) }}
  </div>
  {{ form.submit(class_="form-button", value=tr['update'] if edit_mode else
  tr['save']) }}
</form>

{% endblock %}
