{% extends 'authorization/base_login.html' %} {% block content %}
<header>
  <img
    src="{{ url_for('static', filename='images/logo_no_backgroud.png') }}"
    alt="Interatlas Logo"
    class="logo"
  />
  <h1>{{ tr['title'] }}</h1>
</header>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}
<form method="POST" action="{{ lang_url_for('login') }}">
  {{ form.hidden_tag() }} {{ form.email(class_="form-field") }} {{
  form.password(class_="form-field") }}
  <div class="forgot-password">
    <a href="{{ lang_url_for('forgot_password') }}"
      >{{ tr['forgot_password'] }}</a
    >
  </div>
  {{ form.submit(class_="form-button", value=tr['login']) }}
</form>
{% endblock %}
