{% extends 'authorization/base_login.html' %} {% block content %}
<header>
  <a href="{{ lang_url_for('index') }}"
    ><img
      src="{{ url_for('static', filename='images/logo_no_backgroud.png') }}"
      alt="Company Logo"
      class="logo"
  /></a>
  <h1>{{ tr['registration_title'] }}</h1>
</header>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}
<form method="POST" action="{{ lang_url_for('register') }}?token={{ token }}">
  {{ form.hidden_tag() }}
  <input type="hidden" name="token" value="{{ token }}" />
  <div class="form-row">{{ form.name(class_="form-field") }}</div>
  <div class="form-row">{{ form.surname(class_="form-field") }}</div>
  <div class="form-row">{{ form.phone_number(class_="form-field") }}</div>
  <div class="form-row">
    <div class="password-field">
      {{ form.password(class_="form-field", id="password") }}
      <button
        type="button"
        class="toggle-password"
        data-show-icon="{{ url_for('static', filename='images/show.png') }}"
        data-hide-icon="{{ url_for('static', filename='images/hide.png') }}"
      >
        <img
          src="{{ url_for('static', filename='images/show.png') }}"
          alt="Show password"
          width="20"
          height="20"
        />
      </button>
    </div>
    <div class="password-rules">
      <ul>
        <li id="rule-length" class="neutral">{{ tr['password_length'] }}</li>
        <li id="rule-uppercase" class="neutral">
          {{ tr['password_uppercase'] }}
        </li>
        <li id="rule-digit" class="neutral">{{ tr['password_digit'] }}</li>
      </ul>
    </div>
  </div>
  <div class="form-row">
    <div class="password-field">
      {{ form.confirm_password(class_="form-field", id="password") }}
      <button
        type="button"
        class="toggle-password"
        data-show-icon="{{ url_for('static', filename='images/show.png') }}"
        data-hide-icon="{{ url_for('static', filename='images/hide.png') }}"
      >
        <img
          src="{{ url_for('static', filename='images/show.png') }}"
          alt="Show password"
          width="20"
          height="20"
        />
      </button>
    </div>
  </div>
  {{ form.submit(class_="form-button", value=tr['register']) }}
</form>
{% endblock %}
