.table-container {
  border-radius: 10px;
  overflow: auto;
}

.table-container-title {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.table-container-title h3 {
  position: absolute;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .table-container-title h3 {
    margin-top: 0;
  }
}

table { 
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  font-size: 14px;
  background: #ffffff;
  border-radius: 10px;
  overflow: visible;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

th, td {
  padding: 14px;
  text-align: center;
  border: none;
  border: 1px solid #e0e0e0;
}

th {
  font-weight: 600;
  color: #333;
  background-color: #f8f8f8;
}

td {
  background-color: #ffffff;
  position: relative;
  overflow: visible;
}

thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.table-container-parts,
.table-container-price {
  margin-top: 10px;
  border-radius: 10px;
  overflow-x: auto;
}

.table-container-history {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  border-radius: 10px;
  overflow: auto;
  max-height: 250px;
}

.table-container-history table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden-input {
    display: none;
  }

.update-table {
    max-width: 700px;
    margin: 10px auto
}

.update-table table {
  max-width: 600px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.update-table th, 
.update-table td {
  padding: 12px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.update-table input[type="number"] {
  width: 70px;
  padding: 6px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  margin: auto;
}

.table-container h3,
.update-table h3 {
  text-align: center;
  margin-top: 10px;
}

.update-table h4 {
  text-align: center;
  margin-top: 10px;
}

.tooltip-icon {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  top: 50%;
  right: 200%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  white-space: pre-wrap;
  min-width: 200px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.tooltip-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.visit-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0px;
}

.user-data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.user-data-table {
  flex: 1 1 500px;
  max-width: 1000px;
  overflow: auto;
  margin: 10px auto;
}

.user-data-chart {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px auto;
  min-height: 150px;
  text-align: center;
}

.user-data-chart img {
  width: 100%;
  border-radius: 10px;
}